<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app>

<head>
</head>
<body ng-controller="PhoneListCtrl">
Search: <input ng-model="phones[0].name">
<span ng-bind="phones[0].name"></span>
<ul>
	<li ng-repeat="phone in phones | filter:query">
		{{phone.name}}
		<p>{{phone.snippet}}</p>
	</li>
</ul>


</body>
<script type="text/javascript" src="../js/lib/jquery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="../js/lib/angular/angular.js"></script>
<script type="text/javascript" src="../js/lib/seajs/sea.js"></script>
<script type="text/javascript" src="../js/ctrl/controllers.js"></script>
<script type="text/javascript">

</script>
</html>